<h3>Listado de Empleados</h3>
<ul>
    <li *ngFor = "let empleadoT of trabajadores; let i = index">
        <strong>{{empleadoT.nombre}}</strong>
        <ul>
            <li>Edad: {{empleadoT.edad}}</li>
            <li>Cargo: {{empleadoT.cargo}}</li>
            <li *ngIf="empleadoT.contratado == true">Esta Contratado</li>
            <li *ngIf="empleadoT.contratado == false">No Esta Contratado</li>
        </ul>
        <div>
            <button (click)="cambiarTrabajador(i,true)" *ngIf="empleadoT.contratado == false">Contratar a {{empleadoT.nombre}} </button>
            <button (click)="cambiarTrabajador(i,false)" *ngIf="empleadoT.contratado == true">Despedir a {{empleadoT.nombre}} </button>
        </div>
    </li>
</ul>
<!-- directiva funcionalidad que se queda en la vista -->


